.Landing {
  display: flex;
  flex-direction: column;

  background: linear-gradient(
    90deg,
    rgba(208, 164, 124, 1) 0%,
    rgba(230, 207, 186, 1) 20%,
    rgba(129, 129, 129, 1) 100%
  );

  position: relative;
  justify-content: space-evenly;
  align-items: center;

  height: 100%;
  width: 100%;

  .Content_Container {
    display: flex;
    flex-direction: column;

    padding: 5px;
    gap: 30px;

    position: relative;
    justify-content: space-evenly;
    align-items: center;

    margin: auto;
    margin-top: 150px;
    margin-bottom: 20px;

    height: 100%;
    width: 100%;
  }
}
