a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.Nav {
  background-color: white;
  display: flex;

  padding: 10px;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 0;
  right: 0;

  width: 100%;

  z-index: 100;
  transition: .5s;

  .Brand {
    color: black;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 400;
    transition: 0.5s;
  }

  .Navlink_Container {
    display: flex;

    gap: 30px;
    justify-content: space-between;
    align-items: center;

    .Navlink {
      color: black;
      font-family: sans-serif;
      font-size: 15px;
      font-weight: 400;
    }

    .Menu_Icon {
      color: black;
      display: none;
    }
  }
}

.Nav.active {
  transform: translateY(-100%);
}

@media only screen and (max-width: 768px) {
  .Nav {
    .Brand {
      opacity: 1;
    }
    .Navlink_Container {
      .Navlink_Item {
        display: none;
      }
      .Menu_Icon {
        display: block;
      }
    }
  }
}
