* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  border: none;
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #1d1d1d;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fbf0d6;
  /* border-radius: 10px; */
}

.App {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;  
  background-color: #f4eae0;
}


.Back-To-Top {
  position: fixed;
  bottom: 20px;
  right: 20px;

  height: 40px;

  z-index: 50;

  transition: 1s;

  transform:  translateX(100vh);
}

.Show-back-To-Top-Button {
  transform: translateX(0%);
}
